<div class="col-md-4 col-md-offset-1 tpad sidebar">
  <section>
    <%= form_for(:app, :url => {:action => 'index', method: "get"},html:{ id: "search-form", class: "form-horizontal"}) do %>
        <h3 class="tpad">Search</h3>
        <hr>
        <div class="input-group input-group-lg tpad">
          <span class="input-group-addon glyphicon glyphicon-search"></span>


          <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search..." %>
          <span class="input-group-btn">
                      <%= submit_tag "Go!", class: "btn btn-default", :name => nil %>
                    </span>

        </div>
    <% end %>
    <hr>
  </section>
  <section>
    <h3 class="tpad">Recent Posts</h3>
    <div class="list-group tpad">
      <% @rec_apps.each do |app| %>
          <%= link_to(app.title, {:controller => 'apps', :action => 'show', :id => app.id}, :class => "list-group-item")%>
      <% end %>

    </div>
    <hr>
  </section>
  <section>
    <h3 class="tpad">About the Owner</h3>
    <div class="media tpad">
      <a class="pull-left" href="#">
        <img class="media-object personalimage" src="<%= asset_path( 'user.png' ) %>" alt="user">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Eng.Umar Malik</h4>
        <p class="bpad">I developed this website to give the people free Games, Entertainment, News, Informations, and Knowledge. Hope you will enjoy and get benifits.
          <br>
          <%= mail_to "me@domain.com" do %>
              <strong>Email me:</strong> <span>umar.malik.se007@hotmail.com</span>
          <% end %>
        </p>
      </div>
    </div>

  </section>
</div>